@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');


.wrap-menu-desktop {
   position: sticky;
   top: 0;
   overflow: hidden;
   z-index: 1100;
   background-color: transparent;
   width: 100%;
   height: 84px;
   left: 0;

   
}
.limiter-menu-desktop {
   height: 100%;
   display: flex;
   align-items: center;
   background-color: transparent;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
}

.logo {
   display: flex;
   align-items: center;
   height: 65%;
   margin-right: 55px;
}
// .logo img {
//    max-width: 100%;
//    max-height: 100%;
// }



.wrap-icon-header {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   
}
.wrap-icon-header i{
   transition: 0.7s;
}
.wrap-icon-header i:hover{
   color:rgb(85, 147, 168);
   
}

.cl2 {
   color: #333;
}

.icon-header-item {
   position: relative;
   font-size: 26px;
   line-height: 1;
   cursor: pointer;
}


.p-r-11 {
   padding-right: 11px;
}
.p-l-22 {
   padding-left: 22px;
}



 @media screen and (max-width: 992px) {
   .wrap-menu-desktop {
     position: relative;
     top: 0;
   }
   .wrap-icon-header{
      position: absolute;
      right: 10%;
      
   }
 }

 @media (max-width: 992px){
   .limiter-menu-desktop{
      background-color: white;
      transition: 0.7s;
      
   }
 }