*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
span{
   color: black;
}

.bg0 {
   background-color: #fff;
}

.p-b-50 {
   padding-bottom: 50px;
}
.p-t-80 {
   padding-top: 80px;
}
div {
   display: block;
}
@media (max-width: 1600px){
.container {
    max-width: 1200px;
}}

.container {
   max-width: 1380px;
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}
@media (min-width: 992px){
.container {
    max-width: 960px;
}}

.container {
   margin-right: auto;
   margin-left: auto;
   padding-right: 15px;
   padding-left: 15px;
   width: 100%;
}


.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}


